
/*Reset CSS*/
* {
    /*Reseta a margem e padding dos elementos do projeto, fica mais organizado*/
    margin: 0;
    padding: 0;
}

/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');   /*Krona One*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');   /*Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap'); /*Montserrat wght600*/



/*Palta de cores e fontes*/
:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

/*Configurações iniciais de estilo*/

body {
    box-sizing: border-box; /* não deixa as imagens sair do body*/
    background-color: var(--cor-primaria);
    color:  var(--cor-secundaria);
}


/*CLASSES CABECALHO*/

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}



/*CLASSES CORPO*/
.titulo-destaque{
    color:  var(--cor-secundaria);
    }

.apresentacao{
    /*margin: 10% 15%;  /* 10% na horizontal e 15% na vertical*/
    padding: 5% 15%; /* espaçamento do conteudo até a borda, magin já não estava mostrando o o rodape*/
    display: flex; /* usa o flex box na estilizacao*/
    align-items: center;
    justify-content:space-between;
    gap: 40px;
    }

.apresentacao__conteudo{

        width: 50%; /* Em porcentagem ajuda o conteudo se comportar em telas com tamanhos diversos*/
        display: flex;
        flex-direction: column; /* conteudo organizado horizontalmente*/
        gap: 40px; /*pulo de 40 px entre cada conteudo*/
        
    }

.apresentacao__conteudo__titulo{
    font-size: 2,25rem;
    font-family: 'Krona One', sans-serif;
    }

.apresentacao__conteudo__paragrafo{
    font-size: 1.5rempx;
    font-family: 'Montserrat', sans-serif;
    }

.apresentacao__links{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links_titulo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color:  var(--cor-secundaria);
    font-size: 1.5rem;
}


.apresentacao__links_botao{
    /*  background-color: #22D4FD;  cor de fundo azul*/
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid  var(--cor-terciaria);
    width: 50%; /* largura horizontal*/
    text-align: center; /*centraliza os botoes*/
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;/*tira a formatacao automatica do botao, o sublinhado de baixo*/
    font-weight: 600;
    color:  var(--cor-secundaria);
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links_botao:hover {
    background-color:  var(--cor-hover);

}

/*CLASSES RODAPE*/

.apresentacao__rodape{
    padding: 24px;
    color:  var(--cor-primaria);
    background-color:  var(--cor-terciaria);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400
}
.apresentacao__imagem {
    width: 50%;
}

@media (max-width: 1100px) {
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo {
        width: auto; /*auto, é uma propiedade que deixa automatico o redimencionamento
        de acordo com o padding de 5% da calsse .apresnetacao*/
    }
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

}

